
	body {
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		}
	body, td, p {
		font-family: verdana, sans-serif;
		font-size: 11px;
		} 

h1 {color: #000000; font-size: 18px; font-family: verdana,arial,lucida console,sans-serif,monospace; font-weight: bold; text-decoration: none; bottom-margin: 15px;}

h2 {color: #000000; font-size: 16px; font-family: verdana,arial,lucida console,sans-serif,monospace; font-weight: bold; text-decoration: none; bottom-margin: 12px;}

h3 {color: #000000; font-size: 14px; font-family: verdana,arial,lucida console,sans-serif,monospace; font-weight: bold; text-decoration: none; bottom-margin: 10px;}

.banner {color: #000000; font-size: 18px; font-family: verdana,arial,lucida console,sans-serif,monospace; font-weight: bold; text-decoration: none; bottom-margin: 0px;}


.header {color: #000000; font-size: 24px; font-family: verdana,arial,lucida console,sans-serif,monospace; font-weight: bold; text-decoration: none; bottom-margin: 10px;}

.boxtitle {color: #000000; font-size: 14px; font-family: verdana,arial,lucida
console,sans-serif,monospace; font-weight: bold; text-decoration: none;}

.boxsubtitle {color: #000000; font-size: 12px; font-family: verdana,arial,lucida
console,sans-serif,monospace; font-weight: bold; text-decoration: none; }

.boxtext {color: #000000; font-size: 11px; font-family: verdana,arial,lucida
console,sans-serif,monospace; text-decoration: none;}

.smalltext {color: #000000; font-size: 12px; font-family: verdana,arial,lucida
console,sans-serif,monospace; text-decoration: none;}


.footer {color: #000000; font-size: 11px; font-family: verdana,arial,lucida
console,sans-serif,monospace; text-decoration: none; font-weight: normal;}

.footerpipe {color: #000000; font-size: 10px; font-family: verdana,arial,lucida console,sans-serif,monospace; text-decoration: none; font-weight: normal;}

A:link.greeting {color: blue; text-decoration: underline;}
A:visited.greeting {color: blue; text-decoration: underline;}
A:active.greeting {color: #FF3300; text-decoration: underline;}
A:hover.greeting {color: #FF3300; text-decoration: underline;}

.greeting {color: #000000; font-size: 11px; font-family: verdana,arial,lucida console,sans-serif,monospace; font-weight: normal; text-decoration: none; bottom-margin: 7px; top-margin: 7px; left-margin: 7px; right-margin: 7px}

.greetingpipe {color: #000000; font-size: 10px; font-family: verdana,arial,lucida console,sans-serif,monospace; text-decoration: none; font-weight: normal; top-margin: 10px; left-margin: 7px; right-margin: 7px; bottom-margin: 7px;}

A:link.menu {color: #000000; text-decoration: none;}
A:visited.menu {color: #000000; text-decoration: none;}
A:active.menu {color: #0000ff; text-decoration: none;}
A:hover.menu {color: #0000ff; text-decoration: none;}

.menupipe {color: #000000; font-size: 11px; font-family: verdana,arial,lucida console,sans-serif,monospace; text-decoration: none; font-weight: normal;}

.menu {color: #000000; font-size: 11px; font-family: verdana,arial,lucida console,sans-serif,monospace; text-decoration: none; font-weight: bold;}

tr.tableRowHeader {
  font-family: verdana, tahoma, arial, helvetica;
  font-size: 11px;
  font-weight: bold;
}

tr.innerTableRowHeader {
  font-family: verdana, tahoma, arial, helvetica;
  font-size: 11px;
  font-weight: bold;
}
th.innerTableCellHeader {
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  color: #222222;
/*  background-color:#497D96;*/
/*  background-color:#E9F0F3;*/
	background-color:#E4E4F1;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
/*  border-top-color:#4D5C93;
  border-right-color: #4D5C93;
  border-bottom-color: #4D5C93;
  border-left-color: #4D5C93;*/
  border-top-color:#cccccc;
  border-right-color: #cccccc;
  border-bottom-color: #cccccc;
  border-left-color: #cccccc;

/*  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#DDEEFF,endColorStr=#C0C0C0);*/
}

td.innerTableTd {
/*	background-color:#FCFDEC;*/
	background-color:#E4E4F1;
	border: 1px solid #C0C0C0; 
	border-collapse:collapse;
}

th.tableCellHeader {
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
  background-color:#4D5C93;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color:#4D5C93;
  border-right-color: #4D5C93;
  border-bottom-color: #4D5C93;
  border-left-color: #4D5C93;
/*  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#DDEEFF,endColorStr=#C0C0C0);*/

}

a.tableCellHeader {
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
a.tableCellHeader:hover {
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  text-decoration: underline;
  color: #ffffff;
}


tr.tableRowOdd {
  font-family: verdana, tahoma, arial, helvetica;
  font-size: 11px;
/*  background-color: #FFFFFF;*/
  background-color:#DEE7F8;
}
tr.tableRowEven {
  font-family: verdana, tahoma, arial, helvetica;
  font-size: 11px;
/*  background-color:#DDEEFF;*/
  background-color:#F0F4FF;
}
tr.tableRowFooter {
  font-family: verdana, tahoma, arial, helvetica;
  font-size: 11px;
  background-color: #efefef;
}

td.tableCell {
	font-family: verdana, tahoma, arial, helvetica;
	font-size: 11;
	border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-right-color: #cccccc;
    border-bottom-color: #E2E2E2;
    border-left-color: #cccccc;
    height: 18
}

td.tableCellAction {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color:#cccccc;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
}

.listado {
	border: 3px groove #003399;
	margin: 0px;
	padding: 0px;
}

.headTablaConAccion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:000000;
	letter-spacing: normal;
	text-align: left;
	line-height:normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color:#cccccc;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
}

.headTabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:#666666;
	letter-spacing: normal;
	background-image:url(../images/fondomodulo.JPG);
	text-align: left;
	line-height:normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color:#cccccc;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
}

.footerTabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:#666666;
	letter-spacing: normal;
/*	background-color: #fafcff;*/
	background-color: #efefef;
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#ffffff,endColorStr=#efefef);
	text-align: left;
	line-height:normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color:#cccccc;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
}

.headTablaNoBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #efefef;
	text-align: left;
	line-height:normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color:#cccccc;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
}

.LegendTable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;
	PADDING-RIGHT:2px;
	PADDING-LEFT:2px;
	background-color: #FCFAEB;/*#F9F5D5;*/
	line-height:normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color:#cccccc;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
}

.headTablaConInput {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #ffffcc;
	text-align: left;
	line-height:normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color:#cccccc;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
}


.tabla {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color:#cccccc;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
}

.centrado {
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color:#cccccc;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
 }

td.accion {
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color:#cccccc;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
}

a.accion {
  text-decoration: none;
  color: black;
}
a.accion:hover {
  text-decoration: underline;
  color: black;
}

.error {
	color: red;
}

.botonTransp {
	background: inherit;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
/*	color: #0000FF;*/
	color: #3F5489;
	cursor: hand;
	margin: 0px;
	padding: 0px;
	line-height: normal; 
	border: 0px none;
	width: 100%;
}

.table {
	border-collapse: collapse;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color:#cccccc;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
}

.tablaExternaForm {
	border: 2px solid #1F2367;
	background-color:#FFFFFF;
}


.tituloTabla {
	background-color: #1F2367;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#1F2367,endColorStr=#DDEEFF);
	font-weight: bold;
	color: #FFFFFF;
}


.headerCentrado {
  text-align: center;
}

.headerIzquierda {
  text-align: center;
}


.headerDerecha {
  text-align: center;
}

tr.tableRowTotal {
  font-family: verdana, tahoma, arial, helvetica;
  font-size: 11px;
  background-color: #D5E6F7;
}

table.innerTable {
	border: 1px solid #C0C0C0; 
	border-collapse:collapse;
}

